/* var */
:root{
    --krim:#EFC3A4;
    --grey:#E2E2E2;
}


.login_carousel img {
    max-height: inherit; 
    max-width: inherit; 
    width: inherit; 
    height: inherit; 
    border-top-left-radius: 10%; 
    border-bottom-right-radius: 10%
}

.bg-grey {
    background-color: var(--grey);
}

.bg-krim{
    background-color: var(--krim);
}

.vh-20 {
    height: 20vh;
}

.vh-80 {
    height: 80vh;
}