.accountMenu{
    width:15vw;
    height: 15vh;
    margin-top: 30px;
    background-color: bisque;
    margin: auto;
    align-items: center;
    justify-items: center;
    border-radius: 5%;
}

.button-title{
    width: 58vw;
}

.piTitle{
    text-align: center;
}

.profileImage{
    align-self: center;
    width: 200px;
    height: 200px;
}

.profileContainer {
    /* padding-right: 40vw; */
    padding-left: auto;
    flex-direction: row;
    justify-content: left;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 80px;
}

.profileInfo {
    width: 300px;
    flex-direction: column;
}

.headinfo{
    align-self: center;
}

.prInformation {
    flex-direction: column;
    border: 1px solid black;
    margin-top: 40px;
}

.infoItems {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}