.accountMenu{
    width:15vw;
    height: 15vh;
    margin-top: 30px;
    background-color: bisque;
    margin: auto;
    align-items: center;
}

.button-title{
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.profileImage{
    align-self: center;
    width: 200px;
    height: 200px;
}

.profileContainer {
    /* padding-right: 40vw; */
    padding-left: auto;
    flex-direction: row;
    justify-content: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
}

.profileInfo {
    width: 300px;
    flex-direction: column;
}

.headinfo{
    align-self: center;
}