body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    flex-direction: column;
  }

  .product {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid #ddd;
  }

  .product img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .product-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .product-description {
    margin-top: 10px;
    color: #888;
  }
  
  .product-price {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }

  .productRow{
    flex-direction: row;
    margin-bottom: 20px;
  }

  .catalogContainer {
    margin-left: 20vw;
    margin-right: 20vw;
    /* background-color: gray; */
    flex-direction: row;
  }
  .Ctitle {
    text-align: left;
    margin-left: 22vw;
    margin-top: 70px;
    width: 30vw;
  }

  .categoryBox {
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin-left: 50px;
    /* border: 1px solid #000; */
  }

.btn-dropdown {
  width: 200px;
}

.dropdown {
  margin-top: 5px;
  margin-bottom: 5px;
}