.container{
    margin: auto;
    text-align: center;
    margin-top: 200px;
    width: 350px;
    height: 500px;
}

.loginForm{
    margin: auto;
    text-align: left;
    margin-top: 30px;
    flex-direction: column;
    width: 300px;
}

.backbutton{
    margin-left: 30px;
    margin-top: 10px;
    justify-items: left;
    text-align: left;
    width: 20px;
}