* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    /* max-width: 800px; Max width */
    /* padding: 10px; */
  }

  /*column*/
  .col{
    float: left;
    padding: 10px;
  }

  .left{
    width: 65%;
  }

  .right{
    width: 35%;
  }
  
  .heading {
    font-size: 15px;
    margin-right: 15px;
  }

  .card{
    display: block;
    border: 1px solid #000000;
  }

  .fa {
    font-size: 15px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top:5px;
  }
  
  .middle {
    margin-top:5px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row{
    justify-content: center;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 60%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    margin-top: 5px;
    max-height: 10px;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 9px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 9px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 9px; background-color: #00bcd4;}
  .bar-2 {width: 6%; height: 9px; background-color: #ff9800;}
  .bar-1 {width: 4%; height: 9px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }

  .product-container {
    margin: 15vh 80px 50px 80px;
  }

  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .product-detail{
    max-width: 60vw;
    padding: 80px 80px 80px 80px;
  }
  
  .rating {
    flex-direction: column;
    max-width: 40%;
  }

  .rating-row{
    flex-direction: row;
    gap: 10px;
    justify-content: left;
  }

  .addTOcart{
    width: 400px;
    max-height: 50vh;
  }

  .itemCard{
    padding: 40px;
  }