
.container-info{
    width: 80vw;
    height: 300px;
    margin-top: 30px;
    background-color: bisque;
    margin: auto;
    margin-top: 30px;
    align-items: center;
}

.info {
    margin-top: 100px;
    margin: auto;
    text-align: center;
    flex-direction: row;
}

.featured {
    margin: auto;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.featured-content{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    
}

.card-title{

}

.card-text {
    font-style: normal;
    font-size: medium;
}

.ftContainer{
    width: 100vw;
    margin-top: 30px;
    background-color:darksalmon;
    margin: auto;
    margin-top: 30px;
    align-items: center;
}

.txtContainer{
    font-style: normal;
    font-size: medium;
    margin: 0 auto;
    padding: 0 10px 5px ;
}